* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;

}

.heading {

    font-size: 35px;
}

.search-message {
    display: none;
    margin-top: 1rem;
    font-style: italic;
    font-size: 14px;
}

.country-search{
    margin-top: 1rem;
    width: 40rem;   
    border-radius: 20px;
    padding: 0.75rem;
    border: 0.40px solid rgb(196, 191, 191);
    text-align: center;
    outline: 0;

}

.error-message {
    display: none;
}

.coutries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eeeff0;
    padding: 3rem 2rem;

}

.countryDiv {

    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(179, 130, 130);
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;

}

.country-name {
    
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#number {
    margin-top: 1rem;
}

#countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #263544;
    padding-bottom: 3rem;
    padding-top: 3rem;
    
}

.search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.starts-with,.includes,.sort {
    margin-left: 0.25rem;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

button{
    cursor: pointer;
    background-color:#7E63BE;
    color: white;
    height: 2rem;
    border:none;
    font-size: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
button:focus {
    outline: 0;
    border: none;
    
}
.fa-exchange-alt {
    font-size: 20px;
    opacity: 0.8;
    transform: rotate(270deg) scaleX(-1)
}





